<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <!-- <img src="assets/img/logo.png" alt="" title="" /> -->
            <!-- Uncomment below if you prefer to use a text image -->
            <h1><a [routerLink]='[""]'>KLD Fish Stall</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li [routerLinkActive]='["menu-active"]'><a [routerLink]='["/home"]'>Home</a></li>
                <li [routerLinkActive]='["menu-active"]'><a [routerLink]='["/shop"]'>Shop</a></li>
                <li *ngIf="_sharedModel.UserRole == 'admin' || _sharedModel.UserRole == 'operator'" class="menu-has-children">
                    <a href="">Manage</a>
                    <ul>
                        <li [routerLinkActive]='["menu-active"]'><a [routerLink]='["/manage-fish-category"]'>Manage Fish Category</a></li>
                        <li><a href="">Add New Fish</a></li>
                        <li><a href="">Manage / Edit Fish</a></li>
                        <li [routerLinkActive]='["menu-active"]'><a [routerLink]='["/manage-fish-price"]'>Manage Fish Price</a></li>
                    </ul>
                </li>
                <li class="menu-has-children">
                    <a href="">User</a>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Logout</a></li>
                        <li><a href="">My Orders</a></li>
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Change Password</a></li>
                    </ul>
                </li>
                <li [routerLinkActive]='["menu-active"]'><a [routerLink]='["/locate-us"]'>Locate Us</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>